* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

/* 
    Home page Header 
*/

.init-header-top {
  background-color: #096bdb;
  padding: 8px;
}
.init-header-top-content {
  display: flex;
  justify-content: end;
  align-items: center;
}
.init-header-top-content a {
  color: #fff;
  text-decoration: none;
  margin: 0 2% 0 0;
}
.init-header-top-content a:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.init-shift {
  margin-right: 5px;
}

/* 
    Home page Navigational bar 
*/

.init-nav-header {
  background-color: #fff;
}
.logo p {
  font-weight: 700;
  font-size: 60px;
  color: #096bdb;
  padding: 7px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style-type: none;
  margin-left: 20px;
}
ul li a,
.init-apply-btn a,
.init-home-btn a,.init-home-down-btn {
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  color: #000;
}
ul li a:hover {
  text-decoration: none;
}
.init-apply-btn a,
.init-home-btn a,.init-home-down-btn a {
  color: #fff;
}
.init-apply-btn,
.init-home-btn {
  outline: none;
  margin-left: 8%;
  background-color: #096bdb;
  border-radius: 5px;
  padding: 8px 25px;
}
.init-home-down-btn{
  border: 1px solid #fff;
  margin-left: 8%;
  border-radius: 5px;
  padding: 8px 25px;
}
.init-home-btn,.init-home-down-btn{
  margin-left: 0;
  display: inline-block;
  margin: 1% 0 0 0;
  padding: 12px 35px;
}
.init-apply-btn:hover,
.init-home-btn:hover {
  background-color: #000;
}
.init-apply-btn a:hover,
.init-home-btn a:hover {
  color: #fff;
  text-decoration: none;
}

/* 
    Home page From here  
*/

header .item {
  height: 80vh;
  position: relative;
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
header .item .cover .header-content {
  position: relative;
  padding: 40px;
  overflow: hidden;
}
header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
header .item .cover .header-content h1 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
header .item .cover .header-content h2 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 10px;
  word-spacing: 3px;
  color: #fff;
}
header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h2,
header .owl-item.active .init-home-btn,
header .owl-item.active .init-home-down-btn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-prev:focus {
  outline: 0;
}
header .owl-nav .owl-prev:hover {
  background: #000 !important;
}
header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-next:focus {
  outline: 0;
}
header .owl-nav .owl-next:hover {
  background: #000 !important;
}
header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
header:hover .owl-next {
  right: 0px;
  opacity: 1;
}

/*  
    About History Section 
*/

.init-history {
  margin-top: 8%;
}
.init-history-content h1 {
  color: #096bdb;
  font-weight: 700;
}
.init-history-content h3 {
  color: #096bdb;
  margin-top: -14px;
}
.init-history-head {
  background-color: orange;
  color: #fff;
  border-radius: 8px;
}
.figure-caption-head {
  margin-top: -35px;
}
.init-history figure img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.init-history-content:hover {
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* 
    Seat section starts from here 
*/

.init-seat-section {
  margin-top: 8%;
  background-color: #2d2d2d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.init-seat-header h1,
.init-seat-header p,
.init-seat-header h2 {
  color: #fff;
  font-weight: 700;
  font-size: 70px;
  line-height: 55px;
  margin-top: 10%;
}
.init-seat-header p,
.init-seat-header h2 {
  margin-top: 5px;
}
.init-seat-content p {
  color: #fff;
  margin-top: 20px;
  opacity: 0.8;
}
.init-seat-para {
  margin-bottom: 15%;
}
.init-appeal-content {
  background-color: #096bdb;
  margin: 10% 0 10% 0;
}
.init-appeal-content h4 {
  padding-top: 7%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.init-appeal-content p {
  color: #fff;
  opacity: 0.9;
  padding: 2% 7% 0 50%;
}
.donate-btn {
  padding-bottom: 7%;
  margin-left: 50%;
}
.donate-btn a {
  outline: none;
  background-color: #fff;
  padding: 2% 4%;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
}
.donate-btn a:hover {
  text-decoration: none;
  background-color: #000;
  transition: 0.5s all ease;
  color: #fff;
}

/* 
    This is the testimonial section Slider
*/

.init-testimonial {
  margin-bottom: 10%;
}
.carousel-inner .item {
  height: 350px;
  background-color: #fff;
}
.carousel-inner .item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.carousel-control {
  width: 10%;
}
.carousel-control .fa {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .fa.fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.init-login-submit button a{
  color: #fff;
  text-decoration: none;
}
.init-login-submit button a:hover{
  text-decoration: none;
}
/* 
    Media Queries for testimonial section
*/

@media screen and (min-width: 768px) {
  .carousel-control .fa {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-left {
    margin-left: -15px;
  }
}
.right.carousel-control,
.left.carousel-control {
  display: none;
}
.init-testimonial-head p {
  color: #096bdb;
  font-size: 40px;
  font-weight: 600;
}
.init-width-dimension {
  width: 25%;
}
.init-testimonial-profile {
  height: 70px;
  width: 70px;
}
.init-testimonial-profile img {
  height: auto;
  width: 90%;
  border-radius: 50%;
  padding: 2%;
}
.carousel-caption p {
  color: #7a7a7a;
  padding: 2% 15% 5% 15%;
  font-weight: 300;
  font-size: 18px;
  font-weight: 500;
}
.name,
.desc {
  color: #7a7a7a;
}

.carousel-caption p:before {
  content: open-quote;
  position: absolute;
  font-size: 70px;
  margin: -3% 0 0 -5%;
  color: #7a7a7a;
}
.carousel-caption p:after {
  content: close-quote;
  position: absolute;
  font-size: 70px;
  margin: -3% 0 0 3%;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .carousel-caption {
    right: 20%;
    left: 20%;
  }
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  background: transparent;
  border: 1px solid gray;
}
ol.carousel-indicators li.active {
  background: gray;
}

/* 
    Footer the last section
*/

footer {
  background-color: #2d2d2d;
}
.init-footer-content h1,
.init-footer-content p {
  color: #fff;
}
.init-footer-content p {
  opacity: 0.8;
}
.init-footer-content p .init-footer-links i {
  text-align: center;
  height: 15px;
  width: 15px;
  color: #242424;
  background-color: #fff;
  border-radius: 50px;
}
.init-footer-content p a {
  text-decoration: none;
  color: #fff;
  opacity:0.8;
}

.init-footer-content p a:hover {
  text-decoration: none;
  color: #fff;
  opacity:1;
}
.init-footer-contact .init-footer-icons i {
  font-size: 20px;
  padding: 6px;
  border-radius: 5px;
  background-color: #181818;
  color: #fff;
  text-align: center;
  transition: 0.3s all linear;
}
.init-social-icons a .link:hover {
  background-color: #3b77b7;
}
.init-social-icons a .insta:hover {
  
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.init-social-icons a .tweet:hover {
  background-color: #56ABF2;
}
.init-social-icons a .face{
  padding-left:8px ;
  padding-right:8px ;
}
.init-social-icons a .face:hover {
  background-color: #3A559F;
  padding-left:8px ;
  padding-right:8px ;
}
.init-footer-reserved{
  color:#fff;
  opacity: 0.8;
  margin-top: -1%;
}





.init-login-section{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.init-login-section h3{
  font-size: 40px;
  font-weight: 600;
}
.init-login-section .init-text {
  color:#E96D28;
  font-weight: 600;
}
.init-login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 8px;
}
form{
  margin-top:15%;
  margin-bottom:20%;
}
.init-login-name,.init-login-password,.init-login-submit{
  margin-top:5%;
  width: 100%;
}
input[type=text],input[type=password],button{
  width: 100%;
  outline: none;
  border:1px solid #7a7a7a;
  padding: 3%;
 
}
button{
  background-color:#468DC4;
  color:#fff;
  outline: none;
  border: none;
  text-align: center;
  

}
button[type=submit]{
  border-radius: 5px;
}
.init-login-or{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;

}
.init-intial {
  font-size: 14px;
}
.init-small{
  font-size: 10px;
}
.init-app-title{
  margin-top:40px;
}
.init-app-title-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.init-app-img figure{
  height: 80px;
  width: 80px;
}
.init-app-img img{
  height: 100%;
  width: auto;
}
.init-app-title-name h1{
  font-weight: 700;
}
.init-app-sm-title p{
  font-size: 12px;
  color: orange;
  margin-top: -2%;
  margin-left: 15px;
  font-weight: 700;
}
.init-app-head h2{
  font-weight: 600;
}
.init-app-instruction-section{
  border-radius: 8px;
  background-color: #f3f3f3;
}
.init-app-instruction-title p{
  margin-top:2%;
  font-weight: 700;
}
.init-inst-num ol li{
  font-size: 15px;
}
.init-app-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.init-mar{
  margin-bottom: 5%;
  display:block;
}
.init-margin{
  margin-top: 5%;
  display: inline-block;
}
.init-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.init-app-fees,.init-app-left,.init-app-right{
  display: flex;
}
.init-logout-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.init-logout{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.init-img{
  height: 100px;
  width: 100px;
}
.init-img img{
  height: auto;
  width: 100%;
}
.logout-b{
  background-color: #096bdb;
  
  padding: 4% 10%;
  margin-top: 5%;
  border-radius: 6px;
}
.logout-b a{
  text-decoration: none;
  background-color: #096bdb;
  color: #fff;
}
.logout-b a:hover{
  color: #fff;

}
/* responsiveness start here */

@media only screen and (max-width:480px){
  
.init-header-top {
  background-color: #096bdb;
  padding: 0px;
}
.init-header-top-content {
  display: flex;
  justify-content: end;
  align-items: center;
}
.init-header-top-content a {
  color: #fff;
  text-decoration: none;
  margin: 0 2% 0 0;
}
.init-header-top-content a:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.init-shift {
  margin-right: 5px;
}



}